@use "sass:map";
@tailwind base;
@tailwind components;
@tailwind utilities;

$bg: var(--bg);
$fg: var(--fg);

@import "breakpoint";
@import "./colors/colors.module";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap");

@mixin borderShadowBox($textColor, $bgColor) {
    box-shadow: 7px 7px 0 0 $textColor;
    border: 4px solid $textColor;
    background-color: $bgColor;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    background-color: $bg;
    height: 100%;
}

body {
    transition: all 0.3s ease-in;

    @for $i from 1 through length($themes) {
        &.theme-#{$i}-inview {
            --bg: #{map.get(nth($themes, $i), "bg")};
            --fg: #{map.get(nth($themes, $i), "text")};
        }
    }
}
@for $i from 1 through length($themes) {
    #theme-#{$i} {
        color: #{map.get(nth($themes, $i), "text")};
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

input {
    &:focus {
        outline: none;
    }
}

.absolute-center-x {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    top: 0;
    border-bottom: 3px solid $fg;
    transition: all 0.3s ease-in;
    background-color: $bg;
    color: $fg;
    z-index: 100;
}

.dots-and-info {
    background-image: url("/assets/dotted1.svg");
    background-repeat: no-repeat;
}

path,
circle {
    transition: fill 0.3s ease-in;
}

.red-stroke {
    @include apply-breakpoint(md) {
        color: $theme1Bg;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: $theme1Text;
    }
}
.cyan-stroke {
    color: $theme3Bg;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $theme3Text;
}

.blue-stroke {
    color: $theme2Bg;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $theme2Text;
}

.blur-top-bottom {
    mask-image: linear-gradient(
        transparent,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        transparent
    );
}

.bg-blue-dots {
    background-image: url("/assets/blue-dots-bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75%;
}

.pics-container {
    z-index: 4;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    width: 22%;
    height: 22%;
    display: flex;
    align-items: center;
    border: 5px solid $theme2Text;
}

// Headings for section 3 & 4
@for $i from 3 through 4 {
    .heading-theme-#{$i} {
        text-transform: uppercase;
        display: block;
        font-weight: bold;
        padding: 0.3vw 1.5vw;
        font-size: 8vw;
        line-height: 90%;
        letter-spacing: -0.1vw;
        background-color: map.get(nth($themes, $i), "text");
        color: map.get(nth($themes, $i), "bg");
        transform: rotate(5deg);

        &.top {
            transform: translateX(-43px) rotate(5deg);
        }
        &.bottom {
            transform: translateX(50px) translateY(6px) rotate(3deg);
        }
    }
}

.ticket-heading {
    text-transform: uppercase;
    color: $theme3Text;
    font-size: 5vw;
    line-height: 4.5vw;
    font-weight: bold;
    letter-spacing: -0.025em;

    &.price {
        letter-spacing: 0.015em;
    }
}

.info-heading {
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 5.5vw;
    font-weight: bold;
    letter-spacing: -0.025em;
}

.the-space {
    perspective: 1000px;

    &__heading {
        color: $theme3Bg;
        text-shadow: 11px 11px $theme3Text;
        font-size: 22vw;
        font-weight: 800;
    }
}

.slide {
    position: absolute;
    width: 100%;
    background-color: $theme3Bg;
    border: 2px solid $theme3Text;
    height: 35vw;

    &,
    & > * {
        transition: all 0.5s ease-in;
        background-color: $theme3Bg;
        color: $theme3Text;
    }

    &.fill,
    &.fill > * {
        background-color: $theme3Text;
        color: $theme3Bg;
    }

    &__text-block {
        position: absolute;
        left: -2px;
        bottom: -10%;
        padding: 0% 1% 0.5% 4%;
        font-size: 2.5vw;
        letter-spacing: -1px;
        line-height: 100%;
        font-weight: bold;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-width: 0 0 2px 2px;
        overflow: hidden;
        border-color: $theme3Text;
        cursor: pointer;
    }

    &__text-roller {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-transform: uppercase;
    }

    &__triangle {
        position: absolute;
        bottom: -10%;
        z-index: 5;
        height: 10%;
        padding: 0% 1% 0.5% 10%;
        display: flex;
        align-items: center;
        border-style: none solid solid;
        border-color: $theme3Text;
        border-width: 2px;
        perspective-origin: 50% 50%;
        transform: skew(-30deg, 0deg);
        transform-origin: 50% 100%;
    }
}

.insta-section-heading {
    margin-top: 10px;
    font-size: 5vw;
    line-height: 5vw;
    font-weight: bold;
    letter-spacing: 0.005rem;
}

.modal-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $theme3Text;

    &__content {
        @include borderShadowBox($theme3Text, $theme3Bg);
        z-index: 3;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 200%;
        font-weight: bold;
        line-height: 100%;
        white-space: nowrap;

        &.location {
            line-height: 1.42rem;
            padding: 3% 4%;
            color: $theme3Bg;
            background-color: $theme3Text;
            display: flex;
        }
    }
}

.cart-count {
    position: absolute;
    top: -20%;
    right: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: $fg;
    color: $bg;
    border-radius: 50%;
    border: 2px solid $bg;
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease-in;
}
