@use "sass:map";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.module";
@import "breakpoints";

$bg: var(--bg);
$fg: var(--fg);

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    background-color: $bg;
    color: $fg;
    height: 100%;
}

body {
    transition: all 0.3s ease-in;

    @for $i from 1 through length($themes) {
        &.theme-sec-#{$i} {
            --bg: #{map.get(nth($themes, $i), "bg")};
            --fg: #{map.get(nth($themes, $i), "text")};
        }
    }
}

.absolute-center-x {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    top: 0;
    border-bottom: 3px solid $fg;
    transition: all 0.3s ease-in;
    background-color: $bg;
    color: $fg;
    z-index: 100;
}

.dots-and-info {
    background-image: url("/assets/dotted1.svg");
    background-repeat: no-repeat;
}

path,
circle {
    transition: fill 0.3s ease-in;
}

.red-stroke {
    @include apply-breakpoint(md) {
        color: #ffd77e;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #b43f4b;
    }
}

.blur-top-bottom {
    mask-image: linear-gradient(
        transparent,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        transparent
    );
}
